
<html lang="en">
<head>
    <title>HolidaysApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheet link -->
   <link rel="stylesheet" type="text/css" href="{{ asset("style.css")}}">
   <!-- Bootstrap 4.1.1 -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
</head> 
<body >
 <nav class="navbar navbar-light" style="background-color: #D3D3D3;">
 <a class="navbar-brand" href="{{path('accueil')}}">HolidaysApp</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
  {% block body %} 
<div class="container mt-1" id="LoginForm">

<div class="login-form">
<div class="main-div">
   <div class="panel">
   <h2>Online Holiday Management</h2>
   <p>Please enter your email and password</p>
   </div>

    <form action="{{ path ("connexionPage") }}" method="POST" id="Login">
        <div class="form-group">
            <input type="email" class="form-control" name="_username" id="inputEmail" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input type="password" name="_password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="forgot">
            <a href="{{path('addPerson')}}">Don't have Account? Register here!</a>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </div>
</div></div></div>
<p>
    {% if errors %}
        {{    dump (errors) }}
        {{    dump (login) }}
        <p>Login ou mot de passe incorrectes</p>
    {% endif %}
</p>

{% endblock %}
</body>
</html> 
   

        

  


