{% extends "HolidayBundleViews/Default/index.html.twig"%}

{%block body %}
    <div class="container" id="holidayform">  
     <h2 style='color: red '>Bienvenue, {{ app.user.prenom }} {{ app.user.nom }}</h2>

     <h3 style='color: #1ccad5 '>Vous êtes sur la page de demande congé</h3> <br>

  <table>
        {{ form_start (formulaire, {'action': path('addHolidayRequest'), 'method':'POST'}) }}

         <tr>
            <td>{{ form_label(formulaire.person) }}</td>

            <td>{{ form_widget(formulaire.person) }}</td>
            <td>{{ form_errors(formulaire.person) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(formulaire.typeConge)  }}</td>

            <td>{{ form_widget(formulaire.typeConge)  }}</td>
            <td>{{ form_errors(formulaire.typeConge)  }}</td>
        </tr>

        <tr>
            <td>{{ form_label(formulaire.dateDebut) }}</td>

            <td>{{ form_widget(formulaire.dateDebut) }}</td>
            <td>{{ form_errors(formulaire.dateDebut) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(formulaire.dateFin)  }}</td>

            <td>{{ form_widget(formulaire.dateFin)  }}</td>
            <td>{{ form_errors(formulaire.dateFin)  }}</td>
        </tr>

        <tr>
            <td>{{ form_label(formulaire.dateDemande)  }}</td>

            <td>{{ form_widget(formulaire.dateDemande)  }}</td>
            <td>{{ form_errors(formulaire.dateDemande)  }}</td>
        </tr>

     {#   <tr>
            <td>{{ form_label(formulaire.dateValidation)  }}</td>

            <td>{{ form_widget(formulaire.dateValidation)  }}</td>
            <td>{{ form_errors(formulaire.dateValidation)  }}</td>
        </tr>#}

        <tr>
            <td>    <input type="submit" value="Ajouter!"/> </td>
        <tr>

        {{ form_end (formulaire) }}

    </table>

    </div>

     {% endblock%}



