{% extends "HolidayBundleViews/Default/template.html.twig"%}

{%block body %}

    <table class="table table-hover  table-sm " id="mytable">
    <thead class="thead-light">
    <tbody>
     <h1>Display All Holidays</h1>
     <tr>
         <th>Firstname</th>
         <th>Lastname</th>
            <th>Start date</th>
            <th>End Date</th>
            <th>Type</th>
             <th>Valid</th>
     </tr>
   </thead>
        {% for cle, obj in HolidayList %}
            <tr>
                <td>{{obj.person.prenom}}</td>
                <td>{{obj.person.nom}}</td>
                <td>{{ obj.dateDebut|date("d/M/Y")}}</td>
                <td>{{ obj.dateFin|date("d/M/Y") }}</td>
                <td>{{ obj.typeConge}}</td>
                <td id="myTd"> <input type="checkbox" id="btncheck" name="check"
                />
           </tr>
  {% endfor %}
   </table>
   <p>
     <a href="{{path('adminPage')}}"  class="btn btn-info"><span class="glyphicon glyphicon-arrow-left">Retour</span></a>
 </p>
 
{# <scipt>
     
     $(document).ready(function () {

        $("#btncheck").click(function () {
            debugger
       

            var myformdata = $("#myTD").serialize();

            $.ajax({

                type: "POST",
                url: "/HolidayRequest/action  a cree",
                data: myformdata,
                success: function (response) {
                 
                 alert("congé validé ");
                 
                }

            })
        })


    })

 
 </script>#}
 {% endblock%}
