
{% extends "HolidayBundleViews/Default/index.html.twig"%}
{%block body %}
     <div class="container mt-5" id="holidayform">
    
        <h3 style='color:red'>

            Votre demande de congé a été bien reçu.

        </h3>  
     </div>
{% endblock%}
