{% extends "HolidayBundleViews/Default/index.html.twig"%}

{%block body %}
    <div class="container" id="holidayform">  
  <table>
         <h3 style='color: #1ccad5 '>Enregistrez vos données</h3> <br>
        {{ form_start (formulaire, {'action': path('addPerson'), 'method':'POST'}) }}
        <tr>
            <td>{{ form_label(formulaire.nom) }}</td>

            <td>{{ form_widget(formulaire.nom) }}</td>
            <td>{{ form_errors(formulaire.nom) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(formulaire.prenom)  }}</td>

            <td>{{ form_widget(formulaire.prenom)  }}</td>
            <td>{{ form_errors(formulaire.prenom)  }}</td>
        </tr>

         <tr>
            <td>{{ form_label(formulaire.email)   }}</td>

            <td>{{ form_widget(formulaire.email)  }}</td>
            <td>{{ form_errors(formulaire.email)   }}</td>
        </tr>

         <tr>
            <td>{{ form_label(formulaire.passwordOriginal.first)   }}</td>

            <td>{{ form_widget(formulaire.passwordOriginal.first)  }}</td>
            <td>{{ form_errors(formulaire.passwordOriginal.first) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(formulaire.passwordOriginal.second) }}</td>

            <td>{{ form_widget(formulaire.passwordOriginal.second) }}</td>
            <td>{{ form_errors(formulaire.passwordOriginal.second) }}</td>
        </tr>


       <tr>
          <td>{{ form_label(formulaire.dateConnexion)   }}</td>

          <td>{{ form_widget(formulaire.dateConnexion)  }}</td>
          <td>{{ form_errors(formulaire.dateConnexion)   }}</td>
       </tr>

      <tr>
         <td>{{ form_label(formulaire.typeCompte)   }}</td>

         <td>{{ form_widget(formulaire.typeCompte)  }}</td>
         <td>{{ form_errors(formulaire.typeCompte)   }}</td>
     </tr>


        <tr>
            <td>    <input type="submit" value="S'inscrire!"/> </td>
        <tr>

        {{ form_end (formulaire) }}

    </table>

    </div>

     {% endblock%}

